<!DOCTYPE html>
<html>
<head>
	<title>Eastern -  Aloo Gobi</title>
	<link rel="stylesheet" type="text/css" href="css/West-East-Dishes.css">
</head>
<body>
	<div>
		<div class="backtowd">
			<a href="" class="btn-backtowd">Recipe Book</a>
			<a href="" class="btn-backtowd1">Back</a>
		</div>
		
		<div class="recipe-container">
			<h1>Aloo Gobi</h1>
		<p>Eastern Dish (India)</p>

			<img src="img/algo1.jpg">
			<p class="timecreated">Takes 45 minutes</p>
			<p class="servingnum">Makes 4 servings</p>
			<p class="recipetype">APPETIZER</p>

			<div class="ingredients">
				<h3>Ingredients</h3>
				<ul>
    				<li> 2 tbsp. canola oil </li>
    				<li> 3 baking potatoes</li>
    				<li> 1 head cauliflower</li>
    				<li> 3 clove garlic</li>
    				<li> 2 tsp. finely grated peeled fresh ginger</li>
    				<li> 1/2 tsp. cumin seeds </li>
    				<li> 1/2 tsp. brown mustard seeds </li>
    				<li> 1/2 tsp. ground coriander</li>
    				<li> 12 curry leaves</li>
    				<li> salt and pepper to taste </li>
    				<li> 1 large tomato </li>
    				<li> c. frozen peas</li>
    				<li> 1 tbsp. unsalted butter</li>
    				<li> Chopped cilantro,</li>
    			</ul>
			</div>
			<div class="instruction">
				<h3>Instructions</h3>
				<ul>
					<li><a>1. In a large skillet, heat the oil. Add the potatoes and cauliflower and cook over moderate heat, stirring, until golden in spots, 7 to 8 minutes.</a></li>
					<li><a>2. Stir in the garlic, ginger, cumin seeds, mustard seeds, coriander, and curry leaves and cook until fragrant, 1 minute. Season with salt and pepper and add 1 1/2 cups of water.</a></li>
					<li><a>3. Reduce heat to medium and melt another 2 tablespoons butter. Add the onions, jalapenos, and cinnamon stick. Cook until the onion and the jalapenos are tender, about 8 minutes. Stir in the garlic, ginger, remaining teaspoon garam masala, and paprika and cook until fragrant, about 1 minute. Stir in the garlic, ginger, cumin seeds, mustard seeds, coriander, and curry leaves and cook until fragrant, 1 minute. Season with salt and pepper and add 1 1/2 cups of water.<a></li>
					<li><a>4. Add the tomatoes and bring mixture to a simmer. Add the chicken and toss to coat in the sauce. Let simmer until the chicken is cooked through, about 8 minutes.</a></li>
					<li><a>5. Add the cream and the remaining 2 tablespoons butter and stir until the butter has melted. Serve warm over rice with naan. </a></li>
				</ul>
			</div>

			<p class="recipesource">SOURCE : delish.com</p>

			<div class="addtocart">
				<a href="" class="btn-addtocart">Add to Cart</a>
				<p>want to try this recipe?</br> order ingredients now!</p>
			</div>
			

		</div>
	</div>

</body>
</html>