<!DOCTYPE html>
<html>
<head>
	<title>Eastern -  Butter Chicken</title>
	<link rel="stylesheet" type="text/css" href="css/West-East-Dishes.css">
</head>
<body>
	<div>
		<div class="backtowd">
			<a href="" class="btn-backtowd">Recipe Book</a>
			<a href="" class="btn-backtowd1">Back</a>
		</div>
		
		<div class="recipe-container">
			<h1>Butter Chicken</h1>
		<p>Eastern Dish (India)</p>

			<img src="img/ibc1.jpg">
			<p class="timecreated">Takes 45 minutes</p>
			<p class="servingnum">Makes 4 servings</p>
			<p class="recipetype">MAIN DISH</p>

			<div class="ingredients">
				<h3>Ingredients</h3>
				<ul>
    				<li> 1 c. Greek yogurt </li>
    				<li> Juice of 1/2 a lemon</li>
    				<li> 1 tsp. turmeric</li>
    				<li> 2 tsp. garam masala, divided </li>
    				<li> 1 tsp. cumin</li>
    				<li> 1 1/2 lb. chicken breast, cut into 1" pieces</li>
    				<li> 6 tbsp. butter, divided</li>
    				<li> 1 large onion, sliced </li>
    				<li> 2 jalapenos, minced</li>
    				<li> 1 cinnamon stick </li>
    				<li> 3 cloves garlic , finely minced </li>
    				<li> 1 tsp. paprika </li>
    				<li> 1 tbsp. freshly grated ginger</li>
    				<li> 1 28-oz. can diced tomatoes</li>
    				<li> 1/2 c. heavy cream</li>
    				<li> Cilantro, for garnish. Basmati rice, cooked. for serving. Naan, for serving </li>
    			</ul>
			</div>
			<div class="instruction">
				<h3>Instructions</h3>
				<ul>
					<li><a>1. In a large bowl, whisk together yogurt, lemon, turmeric, 1 teaspoon garam masala, and cumin. Toss chicken in mixture and let marinate for 15 minutes.</a></li>
					<li><a>2. In a large bowl, whisk together yogurt, lemon, turmeric, 1 teaspoon garam masala, and cumin. Toss chicken in mixture and let marinate for 15 minutes.</a></li>
					<li><a>3. Reduce heat to medium and melt another 2 tablespoons butter. Add the onions, jalapenos, and cinnamon stick. Cook until the onion and the jalapenos are tender, about 8 minutes. Stir in the garlic, ginger, remaining teaspoon garam masala, and paprika and cook until fragrant, about 1 minute. <a></li>
					<li><a>4. Add the tomatoes and bring mixture to a simmer. Add the chicken and toss to coat in the sauce. Let simmer until the chicken is cooked through, about 8 minutes.</a></li>
					<li><a>5. Add the cream and the remaining 2 tablespoons butter and stir until the butter has melted. Serve warm over rice with naan. </a></li>
				</ul>
			</div>

			<p class="recipesource">SOURCE : delish.com</p>

			<div class="addtocart">
				<a href="" class="btn-addtocart">Add to Cart</a>
				<p>want to try this recipe?</br> order ingredients now!</p>
			</div>
			

		</div>
	</div>

</body>
</html>