<!DOCTYPE html>
<html>
<head>
	<title>Eastern -  Punjabi Chicken Curry</title>
	<link rel="stylesheet" type="text/css" href="css/West-East-Dishes.css">
</head>
<body>
	<div>
		<div class="backtowd">
			<a href="" class="btn-backtowd">Recipe Book</a>
			<a href="" class="btn-backtowd1">Back</a>
		</div>
		
		<div class="recipe-container">
			<h1>Punjabi Chicken Curry</h1>
		<p>Eastern Dish (India)</p>

			<img src="img/pcc1.jpg">
			<p class="timecreated">Takes 75 minutes</p>
			<p class="servingnum">Makes 4 servings</p>
			<p class="recipetype">MAIN DISH</p>

			<div class="ingredients">
				<h3>Ingredients</h3>
				<ul>
    				<li> Punjabi Chicken Curry1 tbsp. canola oil </li>
    				<li> 1 large onion, finely chopped</li>
    				<li> 3.5cm (1 1/2 in) fresh root ginger, crushed or pureed</li>
    				<li> 8 garlic cloves, minced or pureed</li>
    				<li> 3 to 4 green chillies, minced or pureed</li>
    				<li> 1 heaped garam masala,cumin seeds, salt, and ground turmeric powder</li>
    				<li> 1 (400g) tin plum tomatoes</li>
    				<li> 4 chicken breasts, cut into 4cm cubes</li>
    				<li> 1/2 lemon, juiced</li>
    				<li> 1 handful fresh coriander leaves, chopped</li>
    				<li> 1 tablespoon dried fenugreek leaves (optional)</li>
    			</ul>
			</div>
			<div class="instruction">
				<h3>Instructions</h3>
				<ul>
					<li><a>1. In a large, deep skillet, heat the oil. Add the ground meat and cook over high heat, stirring to break up the lumps, until no longer pink, about 5 minutes.Heat the butter in a pan. Add the onion and fry till soft but not brown. Add root ginger, garlic and chillies and continue to fry, stirring. Allow the flavours to infuse for a few minutes before adding the salt, garam masala, turmeric and cumin seeds. Reduce the heat so the spices don’t burn and give the ‘tarka’ as it’s called, a good stir.</a></li>
					<li><a>2. Add tomatoes, turn up the heat and stir, squashing down the tomatoes to make a smooth paste. This will take 5 or 6 minutes and you should keep stirring the mixture until the liquid has reduced down to a paste. Once it has thickened, add the chicken and stir on a high heat until again, the liquid has reduced completely.</a></li>
					<li><a>3.Add 600ml (1 pt) water and once this has started to boil, reduce the heat to the lowest setting on a small hob. Squeeze in the lemon juice, add fenugreek leaves and leave to simmer with the lid on for 20 to 30 minutes.<a></li>
					<li><a>4.Add the chopped coriander leaves, turn the heat up and reduce down to the consistency you like for about 5 to 10 minutes.</a></li>
				</ul>
			</div>

			<p class="recipesource">SOURCE : allrecipes.co.uk</p>

			<div class="addtocart">
				<a href="" class="btn-addtocart">Add to Cart</a>
				<p>want to try this recipe?</br> order ingredients now!</p>
			</div>
			

		</div>
	</div>

</body>
</html>