<!DOCTYPE html>
<html>
<head>
	<title>Eastern -  Bulgogi (Korean Beef BBQ)</title>
	<link rel="stylesheet" type="text/css" href="css/West-East-Dishes.css">
</head>
<body>
	<div>
		<div class="backtowd">
			<a href="" class="btn-backtowd">Recipe Book</a>
			<a href="" class="btn-backtowd1">Back</a>
		</div>
		
		<div class="recipe-container">
			<h1>Bulgogi (Korean Beef BBQ)</h1>
		<p>Eastern Dish (Korea)</p>

			<img src="img/bulgogi1.jpg">
			<p class="timecreated">Takes 20 minutes</p>
			<p class="servingnum">Makes 5 serving</p>
			<p class="recipetype">MAIN DISH </p>

			<div class="ingredients">
				<h3>Ingredients</h3>
				<ul>
    				<li> 1 pound of beef tenderloin, sliced thinly into pieces 1/2 inch x 2 inches and 1/8 inch thick</li>
    				<li> 1/2 cup of crushed pear</li>
    				<li> 1/4 cup onion puree</li>
    				<li> 4 cloves of minced garlic</li>
    				<li> 1 teaspoon minced ginger</li>
    				<li> 1 chopped green onion</li>
    				<li> 2 tbs soy sauce</li>
    				<li> 2 tbs brown sugar (or 1 tbs of brown sugar and 1 1/2 tbs rice syrup)</li>
    				<li> a pinch of ground black pepper</li>
    				<li> 1 tbs toasted sesame oil</li>
    				<li> several thin slices of carrot</li>
    			</ul>
			</div>
			<div class="instruction">
				<h3>Instruction</h3>
				<ul>
					<li><a>1. Mix all the marinade ingredients in a bowl.</a></li>
					<li><a>2. Add the sliced beef and mix well.</a></li>
					<li><a>3. You can grill, pan-fry, or BBQ right after marinating, but it's best to keep it in the fridge and let it marinate for at least 30 minutes, or overnight for a tougher cut of beef. Serve with ssamjang. (Ssamjang is a korean spicy dipping sauce) </a></li>
				</ul>
			</div>

			<p class="recipesource">SOURCE : maangachi.com</p>

			<div class="addtocart">
				<a href="" class="btn-addtocart">Add to Cart</a>
				<p>want to try this recipe?</br> order ingredients now!</p>
			</div>
			

		</div>
	</div>

</body>
</html>