<!DOCTYPE html>
<html>
<head>
	<title>Eastern - Champorado</title>
	<link rel="stylesheet" type="text/css" href="css/West-East-Dishes.css">
</head>
<body>
	<div>
		<div class="backtowd">
			<a href="" class="btn-backtowd">Recipe Book</a>
			<a href="" class="btn-backtowd1">Back</a>
		</div>
		
		<div class="recipe-container">
			<h1>Champorado</h1>
		<p>Eastern Dish (Philippines)</p>

			<img src="img/champo1.jpg">
			<p class="timecreated">Takes 25 minutes</p>
			<p class="servingnum">Makes 10 serving</p>
			<p class="recipetype">DESSERT </p>

			<div class="ingredients">
				<h3>Ingredients</h3>
				<ul>
					<li> 1 1/2cup sticky white rice (also known as glutinous rice)</li>	
					<li> 2 1/2liter water, plus 1 liter if rice gets too thick</li>	
					<li> 3/4cup unsweetened cocoa powder</li>
					<li> 3/4cup organic sugar (or more if desired)</li>	
					<li> 3/4cup non-dairy milk, plus more to drizzle for garnish (preferably coconut milk or almond milk)</li>
				</ul>
			</div>
			<div class="instruction">
				<h3>Instruction</h3>
				<ul>
					<li><a>1. Boil water in a medium-sized pot.</a></li>
					<li><a>2. Add rice and stir every once in a while to prevent sticking from the bottom of the pot.</a></li>
					<li><a>3. Once the rice has turned soft and mushy, add rest of the ingredients: cocoa powder, sugar, non-dairy milk, cinnamon, and nutmeg.</a></li>
					<li><a>4. Adjust seasoning to taste. Add more sugar if desired. Add more water if rice gets too thick</a></li>
					<li><a>5. Put pot to a boil and turn off heat.</a></li>
					<li><a>6. Transfer to a bowl and drizzle non-dairy milk on top. Serve hot. Alternatively, you could bring to room temperature then refrigerate to serve cold.</a></li>
				</ul>
			</div>

			<p class="recipesource">SOURCE : astigvegan.com</p>

			<div class="addtocart">
				<a href="" class="btn-addtocart">Add to Cart</a>
				<p>want to try this recipe?</br> order ingredients now!</p>
			</div>
			

		</div>
	</div>

</body>
</html>