<!DOCTYPE html>
<html>
<head>
	<title>Eastern - Omurice</title>
	<link rel="stylesheet" type="text/css" href="css/West-East-Dishes.css">
</head>
<body>
	<div>
		<div class="backtowd">
			<a href="" class="btn-backtowd">Recipe Book</a>
			<a href="" class="btn-backtowd1">Back</a>
		</div>
		
		<div class="recipe-container">
			<h1>OMURICE (Omelette Rice)</h1>
		<p>Eastern Dish (Japan)</p>

			<img src="img/omu1.jpg">
			<p class="timecreated">Takes 30 minutes</p>
			<p class="servingnum">Makes 2 serving</p>
			<p class="recipetype">MAIN DISH</p>

			<div class="ingredients">
				<h3>Ingredients</h3>
				<ul>
					<li> 1/4 onion (1/4 = 60 g)</li>	
					<li> 4 mushrooms (4 mushrooms = 50 g)	
					<li> 4 slices ham (4 slices = 2 thick slices = 80 g)</li>
					<li> 1 Tbsp neutral flavor oil (vegetable, canola, etc)</li>	
					<li> 3 Tbsp green peas (3 Tbsp = 25 g) (defrosted and drained, if frozen)</li>
					<li> Kosher salt</li>
					<li> Freshly ground black pepper</li>
					<li> 2 - 2 1/2 cups cooked Japanese short grain rice (2 cups = 360 g)</li>
					<li> 2 Tbsp unsalted butter (divided)</li>
					<li> 3 Tbsp ketchup</li>
					<li> 3 Tbsp tomato paste</li>
					<li> 2 Tbsp water</li>
					<li> 4 large eggs (divided)</li>
					<li> 2 Tbsp milk (divided)</li>
				</ul>
			</div>
			<div class="instruction">
				<h3>Instruction</h3>
				<ul>
					<li><a>1. Gather all the ingredients.</a></li>
					<li><a>2. Make the sauce: </a></li>
					<li><a>&emsp;->To make tomato sauce, combine ketchup, tomato paste, and water in a small saucepan and mix all together. Set aside.</a></li>
					<li><a>3. Make the fried rice: </a></li>
						<li><a>&emsp;->Clean the mushrooms with damp towel and slice them.</a></li>
						<li><a>&emsp;->Slice the onion and dice into small pieces.</a></li>
						<li><a>&emsp;->Cut the ham into small pieces.</a></li>
						<li><a>&emsp;->In a 10-inch frying pan, heat 1 Tbsp vegetable oil and saute onion.</a></li>
						<li><a>&emsp;->Add green peas and mushrooms, and hams.</a></li>
						<li><a>&emsp;->Season with pinch of kosher salt and freshly ground black pepper.</a></li>
						<li><a>&emsp;->Add rice and break big chunks of rice into smaller pieces</a></li>
						<li><a>&emsp;->When combined well, add 3-4 Tbsp tomato sauce and mix well. Make sure to save some sauce for topping. Divide the fried rice in half.</a></li>
					<li><a>4. Make the omelette and put it together (Makes 2 Omurice):</a></li>
						<li><a>&emsp;->Start with the first omurice. Crack 2 eggs in a small bowl and add 1 Tbsp milk and pinch of salt. Whisk all together.</a></li>
						<li><a>&emsp;->Heat another frying pan over medium high heat and add 1 Tbsp butter. Swirl around and when it's melted, add the beaten egg.</a></li>
						<li><a>&emsp;->Quickly swirl around with chopsticks. When the mixture is set but still runny, add half of ketchup rice in the middle. If you feel the pan is getting too hot, remove the pan from the heat and put on top of the damp towel.</a></li>
						<li><a>&emsp;->Wrap the ketchup rice both sides with egg omelette.  It doesn't have to be perfectly wrapped, but make sure to create the "edge" around the fried rice with omelette.</a></li>
						<li><a>&emsp;->Place the serving plate under the pan and flip the pan to transfer the omelette rice.</a></li>
						<li><a>&emsp;->place a piece of paper towel and gently shape the omelettte into a football shape.  Repeat this process to make the second omurice.</a></li>
						<li><a>&emsp;->When serving, garnish omurice with parsley and drizzle hot tomato sauce.</a></li>
				</ul>
			</div>

			<p class="recipesource">SOURCE : justonecookbook.com</p>

			<div class="addtocart">
				<a href="" class="btn-addtocart">Add to Cart</a>
				<p>want to try this recipe?</br> order ingredients now!</p>
			</div>
			

		</div>
	</div>

</body>
</html>