<!DOCTYPE html>
<html>
<head>
	<title>Eastern - Pancit Palabok</title>
	<link rel="stylesheet" type="text/css" href="css/West-East-Dishes.css">
</head>
<body>
	<div>
		<div class="backtowd">
			<a href="" class="btn-backtowd">Recipe Book</a>
			<a href="" class="btn-backtowd1">Back</a>
		</div>
		
		<div class="recipe-container">
			<h1>Pancit Palabok</h1>
		<p>Eastern Dish (Philippines)</p>

			<img src="img/pp1.jpg">
			<p class="timecreated">Takes 60 minutes</p>
			<p class="servingnum">Makes 12 servings</p>
			<p class="recipetype">MAIN DISH </p>

			<div class="ingredients">
				<h3>Ingredients</h3>
				<ul>
					<li> 500 grams rice noodles (bihon)</li>	
					<li> 30 ml (2 tablespoons) cooking oil</li>	
					<li> 10 grams dried prawns</li>
					<li> 5 cloves garlic, crushed</li>	
					<li> 4 tablespoons flour</li>
					<li> 1 teaspoon achuete powder</li>
    				<li> 600 ml shrimp stock (see recipe below)</li>
   					<li> 30 ml (2 tablespoons) fish sauce (plus more to taste)</li>
    				<li> salt and pepper</li>
    				<li> oppings: grilled squid, prawns, pork belly, smoked fish (tinapa), crushed pork crackling (chicharon), spring onions, hard boiled egg (quartered)</li>
    				<li> 500 grams fresh prawns</li>
				</ul>
			</div>
			<div class="instruction">
				<h3>Instruction</h3>
				<ul>
					<li><a>1. To make the prawn stock, peel the prawns and place the peels (including the prawn heads) them in a pot and cover with around 600 ml of water. Bring to a boil and then turn the heat down to a simmer. Make sure to press the peels as the stock is simmering to extract as much flavour as you can. Continue to simmer for around 30 minutes and set aside.  The peeled prawns can be used for the toppings.</a></li>
					<li><a>2. Heat the cooking oil and saute the dried prawns and garlic until fragrant, around 2 minutes. Next, add the flour and the achuete powder.</a></li>
					<li><a>3. Add the prawn stock, a little at a time as if making a roux and mixing well after each addition. The sauce should now be thick (like a custard or a thick bechamel). If you prefer to make it thinner, add some water to dilute. Add the fish sauce and some salt and pepper to taste.</a></li>
					<li><a>4. For the toppings – this should be done to taste. Marinate the squid, prawns and pork belly in equal quantities of soy sauce and fish sauce for around 30 minutes then grill or pan fry.</a></li>
					<li><a>5. For the toppings – this should be done to taste. Marinate the squid, prawns and pork belly in equal quantities of soy sauce and fish sauce for around 30 minutes then grill or pan fry..</a></li>
				</ul>
			</div>

			<p class="recipesource">SOURCE : trissalicious.com</p>

			<div class="addtocart">
				<a href="" class="btn-addtocart">Add to Cart</a>
				<p>want to try this recipe?</br> order ingredients now!</p>
			</div>
			

		</div>
	</div>

</body>
</html>