<!DOCTYPE html>
<html>
<head>
	<title>Eastern - Teriyaki Salmon</title>
	<link rel="stylesheet" type="text/css" href="css/West-East-Dishes.css">
</head>
<body>
	<div>
		<div class="backtowd">
			<a href="" class="btn-backtowd">Recipe Book</a>
			<a href="" class="btn-backtowd1">Back</a>
		</div>
		
		<div class="recipe-container">
			<h1>Teriyaki Salmon</h1>
		<p>Eastern Dish (Japan)</p>

			<img src="img/salmon1.jpg">
			<p class="timecreated">Takes 15 minutes</p>
			<p class="servingnum">Makes 2 servings</p>
			<p class="recipetype">MAIN DISH</p>

			<div class="ingredients">
				<h3>Ingredients</h3>
				<ul>
					<li> 2 fillets salmon with skin (2 fillets = 1/2 to 3/4 lb = 340 g) (1/2 to 3/4 thickness, skin will hold the flesh together while cooking)</li>	
					<li> 1/4 tsp kosher salt</li>
					<li> Freshly ground black peppe</li>
					<li> 1 Tbsp all-purpose flour</li>
					<li> 1/2Tbsp neutral flavor oil </li>	
					<li> 1 Tbsp unsalted butter</li>
					<li> 1 Tbsp sake (or Chinese rice wine or dry sherry)</li>
					<li> 1 Tbsp mirin (or 1 Tbsp. sake + 1 tsp. sugar)/li>
					<li> 1 Tbsp granulated sugar</li>
					<li> 2 Tbsp soy sauce</li>
				</ul>
			</div>
			<div class="instruction">
				<h3>Instruction</h3>
				<ul>
					<li><a>1. Gather all the ingredients.</a></li>
					<li><a>2. Combine the ingredients for Seasonings and mix well until the sugar is mostly dissolved (or you can microwave for seconds). Rinse the salmon and pat dry. Season the salmon with kosher salt and black pepper on both sides.</a></li>
					<li><a>3. Sprinkle 1/2 Tbsp. of all-purpose flour on one side of salmon and spread evenly. Flip over and sprinkle the rest of flour on the other side. Gently remove the excess flour.</a></li>
					<li><a>4. In a frying pan, add the vegetable oil and melt the butter over medium heat. Don’t burn the butter. If the frying pan gets too hot, reduce heat or remove from the heat temporally.</a></li>
					<li><a >5. Add the salmon fillets, skin side on the bottom (this will be top when you serve). Cook the salmon for 3 minutes, or until the bottom side is nicely browned, and then flip.</a></li>
					<li><a >6. Add sake and cover with lid. Steam the salmon for 3 minutes, or until it's cooked through. Remove the salmon to a plate.</a></li>
					<li><a>7. Add the seasonings to the pan and increase the heat little bit. When the sauce starts to boil, add salmon back in the pan and spoon the sauce over the salmon.</a></li>
					<li><a>8. When the sauce thickens, turn off the heat. Plate the salmon on a plate and serve immediately.</a></li>
				</ul>
			</div>

			<p class="recipesource">SOURCE : justonecookbook.com</p>

			<div class="addtocart">
				<a href="" class="btn-addtocart">Add to Cart</a>
				<p>want to try this recipe?</br> order ingredients now!</p>
			</div>
			

		</div>
	</div>

</body>
</html>