<!DOCTYPE html>
<html>
<head>
	<title>Eastern - Filipino Style Spaghetti</title>
	<link rel="stylesheet" type="text/css" href="css/West-East-Dishes.css">
</head>
<body>
	<div>
		<div class="backtowd">
			<a href="" class="btn-backtowd">Recipe Book</a>
			<a href="" class="btn-backtowd1">Back</a>
		</div>
		
		<div class="recipe-container">
			<h1> Filipino Style Spaghetti</h1>
		<p>Eastern Dish (Philippines)</p>

			<img src="img/spag1.jpg">
			<p class="timecreated">Takes 60 minutes</p>
			<p class="servingnum">Makes 16 serving</p>
			<p class="recipetype">MAIN DISH </p>

			<div class="ingredients">
				<h3>Ingredients</h3>
				<ul>
					<li> 1 lb. spaghetti noodles</li>	
					<li> 1 lb. Italian tomato sauce (the kind they used was called "Italian" but tasted sweet and was very smooth in texture)</li>	
					<li> 8 ounces tomato paste</li>
					<li> 2 tablespoons minced onion</li>
					<li> 2 tablespoons minced garlic</li>
					<li>2 tablespoons oil</li>
					<li> 1 lb.ground pork </li>
					<li> 1/2 cup minced carrots and red peppers</li>
					<li> 2 cups diced or thinly sliced hot dogs</li>
					<li> 1 cup water</li>
					<li> 1 tablespoon salt</li>
					<li> 1 teaspoon seasoning mix</li>
					<li> 7 ounces evaporated milkgrated cheese for topping (they use a processed cheese similar to Velveeta)</li>
				</ul>
			</div>
			<div class="instruction">
				<h3>Instruction</h3>
				<ul>
					<li><a>1. Cook the noodles according to package directions. Set aside</a></li>
					<li><a>2. Place the garlic, onion, and oil in a large saucepan or skillet. Saute for 3-4 minutes or until soft and fragrant. Add the ground pork and brown the meat until it’s completely cooked.</a></li>
					<li><a>3. Add the minced vegetables and hot dog pieces and stir to combine. Add the water and allow the mixture to simmer for 10-15 minutes. Add the tomato sauce and tomato paste to the meat and continue to simmer the mixture for another 10-15 minutes. Add the evaporated milk and salt and stir until incorporated.</a></li>
					<li><a>4. Combine the noodles and the sauce in a large pot or mixing bowl. Top with grated cheese. At Cherne they grate a processed cheese similar to Velveeta and let it melt into the top layer of the spaghetti.</a></li>
				</ul>
			</div>

			<p class="recipesource">SOURCE : pinchofyum.com</p>

			<div class="addtocart">
				<a href="" class="btn-addtocart">Add to Cart</a>
				<p>want to try this recipe?</br> order ingredients now!</p>
			</div>
			

		</div>
	</div>

</body>
</html>