*
{
	margin:0;
	padding:0;
}
body
{	
	font-family: tahoma;
}
header
{
	background-color: #98FB98;
	height: 10vh;
}
h3, h5
{
	color:white;
	position: center;
}
.logo img
{
	height: 50px;	
	float:left;
	margin-top:8px;
}

.row
{
	max-width: 1140px;
	margin: 0 auto;
}
.nav-main
{
	margin-top: 20px; 
	list-style: none;
	float: right;
	margin-right: 80px;
}
.nav-main li
{
	display: inline-block;
	margin-left: 40px;
}
.nav-main li a
{
	color: white;
	text-decoration: none;
	font-size: 100%;
	font-weight: bold;
}
.nav-main li a:hover
{
	color: #a2cf8d;
}
.nav-content
{
	position: absolute;
	overflow: hidden;
	background-color: #98FB98;
	max-width: 300px;
	max-height: 0;
}
.nav-content a
{
	color: #fff;
	text-decoration: none;
}
.nav-content a:hover
{
	color: #a2cf8d;
}
.nav-sub
{
	padding:10px;
}
.nav-sub ul
{
	list-style-type: none;
}
.nav-content .nav-sub ul li a
{
	display: inline-block;
}
.nav-item:focus
{
	background-color: #98FB98;
}
.nav-item:focus ~ .nav-content
{
	max-height: 300px;
	max-width: 300px;
}


.banner
{
	height: 700px;
	background-color: #FBF7F7;
}
.side
{
	margin-left: 100px;
}
.displayname
{
	color: black;
	padding: 10px;
}
.sidemenu
{
	margin: 0;
	padding: 0;
	float: left;
	margin-top: 20px;
	max-height: 100px;
}
.sidemenu li
{
	list-style: none;
	width: 250px;
}
.sidemenu li a
{
	display: block;
	padding: 8px;
	border-left: 4px solid grey;
	text-decoration: none;
	box-shadow: 2px 2px 5px #ccc;
	color: black;
}
.sidemenu li a:hover
{
	border-left: 5px solid #a2cf8d;
}
.sidemenu li ul
{
	display: none;
}
.sidemenu li:hover ul
{
	display: block;
}
.sidemenu li:hover ul li a
{
	color: black;
}
.sidemenu li: hover ul li a:hover
{
	background:#222;
	border-left: 4px solid #a2cf8d;
}



.content
{
	background-color: white;
	float: right;
	margin-right: 150px;
	margin-top: 20px;
	margin-left: 10px;
	height: 530px;
	width: 830px; 
	box-shadow: 2px 2px 5px #ccc;
}
.content h4
{
	margin-top: 10px;
	margin-left: 10px;
}
.content h2
{
	padding: 15px;
	border-bottom: 1px solid grey;
}
.content p
{
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 10px;
	color: grey;
	height: 30px;
	border-bottom: 1px solid grey;
}



.table-align
{
	left: 35%;
	position: relative;
	top: 30%;
	transform: translateY(-50%);
}
.table-info td
{
    border:none;
    border-collapse: collapse;
    padding: 10px;
}
.editinfo
{
	margin-top: 30px;
	margin-left: 60px;
}
.btn-editinfo
{
	border: 3px solid #a2cf8d;
	padding: 10px 30px;
	color:#a2cf8d ;
	text-decoration: none;
	border-radius: 12px;
	font-weight: bold;
	
}
.btn-editinfo:hover
{
	background-color: #a2cf8d;
	color: white;
	transition: all 0.5 ease-in;
}




.edit-profile
{
	left: 25%;
	position: relative;
	top: 35%;
	transform: translateY(-50%);
	width: 400px;
}

.edit-profile input 
{
	margin-top: 5px;
	margin-bottom: 15px;
	font-size: inherit;
	width: 400px;
	border: 2px solid grey;
	border-radius: 4px;
	padding: 8px;
	outline: none;
	box-sizing: border-box;
	margin-left: 10px;
}
.edit-profile input:focus
{
	border-color: #A2CF8D;
	box-shadow: 0 0 8px 0 #A2CF8D;
}
.button-edit
{
	margin-top: 10px;
	list-style: none;
}
.btn-canceledit
{
	border: 3px solid #a2cf8d;
	padding: 10px 30px;
	color:#a2cf8d ;
	text-decoration: none;
	border-radius: 12px;
	font-weight: bold;
	float: left;
	margin-left: 50px;
}
.btn-canceledit:hover
{
	background-color: #a2cf8d;
	color: white;
	transition: all 0.5 ease-in;
}
.btn-saveedit
{
	border: 3px solid #a2cf8d;
	padding: 10px 30px;
	color:#a2cf8d ;
	text-decoration: none;
	border-radius: 12px;
	font-weight: bold;
	float: right;
	margin-right: 50px;
}
.btn-saveedit:hover
{
	background-color: #a2cf8d;
	color: white;
	transition: all 0.5 ease-in;
}









.btn-newbank
{
	border: 3px solid #a2cf8d;
	padding: 10px 30px;
	color:#a2cf8d ;
	text-decoration: none;
	border-radius: 12px;
	font-weight: bold;
}
.btn-newbank:hover
{
	background-color: #a2cf8d;
	color: white;
	transition: all 0.5 ease-in;
}
.newbank
{
	margin-top: 20px;
}






.btn-newaddress
{
	border: 3px solid #a2cf8d;
	padding: 10px 30px;
	color:#a2cf8d ;
	text-decoration: none;
	border-radius: 12px;
	font-weight: bold;
}
.btn-newaddress:hover
{
	background-color: #a2cf8d;
	color: white;
	transition: all 0.5 ease-in;
}
.newaddress
{
	margin-top: 20px; 
}


.change-pw
{
	left: 25%;
	position: relative;
	top: 35%;
	transform: translateY(-50%);
	width: 400px;
}

.change-pw input 
{
	margin-top: 5px;
	margin-bottom: 15px;
	font-size: inherit;
	width: 400px;
	border: 2px solid grey;
	border-radius: 4px;
	padding: 8px;
	outline: none;
	box-sizing: border-box;
	margin-left: 10px;
}
.change-pw input:focus
{
	border-color: #A2CF8D;
	box-shadow: 0 0 8px 0 #A2CF8D;
}











.up-content
{
	background-color: white;
	float: right;
	margin-right: 150px;
	margin-top: 20px;
	margin-left: 10px;
	height: 60px;
	width: 830px; 
	box-shadow: 2px 2px 5px #ccc;
}
.tabs ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}
.tabs ul li a
{
	text-decoration: none;
	float: left;
	margin-top: 5px;
	color: black;
	width: 165px;
	height: 50px;
	text-align: center;
	display: block;
	position: relative;
	letter-spacing: 0.5px;
}
.tabs ul li a:hover
{
	text-shadow: 1px 1px 1px #a2cf8d;
	color: #a2cf8d;
	border-bottom: 4px solid #a2cf8d;
	
}
.tabs ul li a.topay
{
	text-shadow: 1px 1px 1px #a2cf8d;
	color: #a2cf8d;
	border-bottom: 4px solid #a2cf8d;
}
.tabs ul li a.toship
{
	text-shadow: 1px 1px 1px #a2cf8d;
	color: #a2cf8d;
	border-bottom: 4px solid #a2cf8d;
}
.tabs ul li a.torecieved
{
	text-shadow: 1px 1px 1px #a2cf8d;
	color: #a2cf8d;
	border-bottom: 4px solid #a2cf8d;
}
.tabs ul li a.completed
{
	text-shadow: 1px 1px 1px #a2cf8d;
	color: #a2cf8d;
	border-bottom: 4px solid #a2cf8d;
}
.tabs ul li a.cancelled
{
	text-shadow: 1px 1px 1px #a2cf8d;
	color: #a2cf8d;
	border-bottom: 4px solid #a2cf8d;
}
.down-content
{
	background-color: white;
	float: right;
	margin-right: 0px;
	margin-top: 10px;
	margin-left: 10px;
	height: 460px;
	width: 830px; 
	box-shadow: 2px 2px 5px #ccc;	
}
.textalign
{
	text-align: center;
	position: relative;
	top: 40%;
	transform: translateY(-50%);
	letter-spacing: 0.5px;
}
.btn-ordernow
{
	border: 3px solid #a2cf8d;
	padding: 10px 30px;
	color:#a2cf8d ;
	text-decoration: none;
	border-radius: 12px;
	font-weight: bold;
	
}
.btn-ordernow:hover
{
	background-color: #a2cf8d;
	color: white;
	transition: all 0.5 ease-in;
}
.ordernow
{
	margin-top: 20px;
}



MYCART
.msl
{
	color: black;
	margin-top: 10px;
	margin-left: 10px;
}
.cart {
  display: block;
  border-collapse: collapse;
  margin-top: 5px;
  color: #444;
}
.cart thead th.first 
{
  width: 300px;
}
.cart thead th.second {
  width: 110px;
}
.cart thead th.third {
  width: 110px;
}
.cart thead th.fourth {
  width: 110px;
}
.cart thead th.fifth {
  width: 110px;
}
.cart thead th 
{	
	padding: 10px;
  font-weight: bold;
  background-color:  #a2cf8d;
  width: 100%;
}
.cart tbody.table-body
{
	display: block;
  border-collapse: collapse;
  color: #444;
  height: 400px;
  overflow: scroll;
}
.cart tbody td 
{
  text-align: center;
  margin-top: 4px;
  border-bottom: 1px solid #d7dbe0;
  padding: 5px;
}
.qtyinput
{
	width: 100px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: inherit;
	border: 2px solid grey;
	border-radius: 4px;
	padding: 8px;
	outline: none;
	box-sizing: border-box;
	margin-left: 10px;
}
.qtyinput:focus
{
	border-color: #A2CF8D;
	box-shadow: 0 0 8px 0 #A2CF8D;
}
.productitm
{
	width: 100%
		
}
.btn-checkout
{
	border: 3px solid #a2cf8d;
	padding: 5px 30px;
	color:#a2cf8d ;
	text-decoration: none;
	border-radius: 12px;
	font-weight: bold;	
}
.btn-checkout:hover
{
	background-color: #a2cf8d;
	color: white;
	transition: all 0.5 ease-in;
}
.checkout
{
	

}


















footer {
	background-color: #98FB98;
	line-height: 50px;
	text-align: center;
}

footer p 
{	
	color: #473C8B;
	
}

footer p em {
	font-style: normal;
	color: #f2745f;
	font-weight: 500;
}

footer ul {
	list-style: none;
	padding: 0;
}

footer ul li {
	display: inline-block;	
}

footer ul li i {
	width: 36px;
	height: 36px;
	display: inline-block;
	text-align: center;
	line-height: 36px!important;
	background-color: #fff;
	border-radius: 50%;
	color: #363e50;
	transition: all 0.5s;
}

footer ul li i:hover {
	background-color: #f2745f;	
}























