div.padd{
	text-align: center;
}

a.giff{
	display: block;
    width: 115px;
    height: 25px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.padd2{
	margin-top: 100px;
}

input{
	text-align: center;
	border-radius: 10px;
}

select{
	border-radius: 10px;
	padding: 5px 30px;
}
