<!DOCTYPE html>
<html>
<head>
	<title>Western - Caponata</title>
	<link rel="stylesheet" type="text/css" href="css/West-East-Dishes.css">
</head>
<body>
	<div>
		<div class="backtowd">
			<a href="" class="btn-backtowd">Recipe Book</a>
			<a href="" class="btn-backtowd1">Back</a>
		</div>
		
		<div class="recipe-container">
			<h1>CAPONATA</h1>
			<p>Western Dish (Italy)</p>
			<img src="img/caponata.jpg">
			<p class="timecreated">Takes 1 hour</p>
			<p class="servingnum">Makes 8 servings</p>
			<p class="recipetype">MAIN DISH</p>

			<div class="ingredients">
				<h3>Ingredients</h3>
				<ul>
					<li>1 ½  pounds eggplant (1 large), roasted</li>
					<li>2  tablespoons olive oil</li>
					<li>1  medium onion, chopped</li>
					<li>2  stalks celery, from the inner, tender stalks (the heart), diced</li>
					<li>3  large garlic cloves, minced</li>
					<li>2  red bell peppers, diced</li>
					<li>1  pound ripe tomatoes, preferably romas, peeled, seeded and finely chopped, or 1 14-ounce can crushed tomatoes (in puree)</li>
					<li>3  heaped tablespoons capers, rinsed and drained</li>
					<li>3  tablespoons coarsely chopped pitted green olives</li>
					<li>2  tablespoons plus a pinch of sugar</li>
					<li>3  tablespoons red or white wine vinegar or sherry vinegar</li>
				</ul>
			</div>
			<div class="instruction">
				<h3>Instruction</h3>
				<ul>
					<li>1. Roast the eggplant, allow to cool and chop coarsely.</li>
					<li>2. Heat 1 tablespoon of the oil over medium heat in a large, heavy nonstick skillet and add the onion and celery. Cook, stirring, until the onion softens, about 5 minutes, and add the garlic. Cook together for a minute, until the garlic begins to smell fragrant, and add the peppers and 1/2 teaspoon of salt. Cook, stirring, until just about tender, about 8 minutes. Add another tablespoon of oil and the eggplant, and stir together for another 5 minutes, until the vegetables are tender. The eggplant will fall apart, which is fine. Season to taste.</li>
					<li>3. Add the tomatoes to the pan with about 1/2 teaspoon salt and a pinch of sugar. Cook, stirring and scraping the bottom of the pan often, for 5 to 10 minutes, until the tomatoes have cooked down somewhat and they smell fragrant. Add the capers, olives, remaining sugar, and vinegar. Turn the heat to medium-low and cook, stirring often, for 20 to 30 minutes, until the vegetables are thoroughly tender and the mixture is quite thick, sweet, and fragrant. Season to taste with salt and pepper and remove from the heat. Allow to cool to room temperature. If possible, cover and chill overnight. Serve at room temperature.</li>
			</div>
					

			<p class="recipesource">SOURCE : cooking.nytimes.com</p>

			<div class="addtocart">
						<a href="" class="btn-addtocart">Add to Cart</a>
						<p>want to try this recipe?</br> order ingredients now!</p>
					</div>
			

		</div>
	</div>

</body>
</html>