<!DOCTYPE html>
<html>
<head>
	<title>Western - ChickenSchnitzel</title>
	<link rel="stylesheet" type="text/css" href="css/West-East-Dishes.css">
</head>
<body>
	<div>
		<div class="backtowd">
			<a href="" class="btn-backtowd">Recipe Book</a>
			<a href="" class="btn-backtowd1">Back</a>
		</div>
		
		<div class="recipe-container">
			<h1>CHICKEN SCHNITZEL</h1>
			<p>Western Dish (Germany)</p>
			<img src="img/chicken.jpg">
			<p class="timecreated">Takes 35 minutes</p>
			<p class="servingnum">Makes 4 servings</p>
			<p class="recipetype">MAIN DISH</p>

			<div class="ingredients">
				<h3>Ingredients</h3>
				<ul>
					<li>4 chicken fillets</li>
					<li>salt and pepper</li>
					<li>2 tbsp flour</li>
					<li>3 eggs</li>
					<li>150g breadcrumbs</li>
					<li>butter or cooking oil</li>
				</ul>
			</div>
			<div class="instruction">
				<h3>Instruction</h3>
				<ul>
					<li>1. Tenderise the chicken with a meat mallet.</li>
					<li>2. Season the flour with salt and pepper.</li>
					<li>3. Coat the chicken pieces in the flour.</li>
					<li>5. Beat the eggs.</li>
					<li>6. Coat the chicken in the egg mixture and place immediately into the breadcrumbs.</li>
					<li>7. Heat oil in a pan and fry the schnitzel on both sides until brown and the chicken is cooked through.</li>
					<li>8. Alternatively the schnitzel can be baked in an oven for 15-20 minutes at 180°C.</li>
				</ul>
			</div>
					

			<p class="recipesource">SOURCE : http://justeasyrecipes.co.za</p>

			<div class="addtocart">
						<a href="" class="btn-addtocart">Add to Cart</a>
						<p>want to try this recipe?</br> order ingredients now!</p>
					</div>
			

		</div>
	</div>

</body>
</html>