<!DOCTYPE html>
<html>
<head>
	<title>Western - Eintopf</title>
	<link rel="stylesheet" type="text/css" href="css/West-East-Dishes.css">
</head>
<body>
	<div>
		<div class="backtowd">
			<a href="" class="btn-backtowd">Recipe Book</a>
			<a href="" class="btn-backtowd1">Back</a>
		</div>
		
		<div class="recipe-container">
			<h1>EINTOPF</h1>
			<p>Western Dish (Germany)</p>
			<img src="img/eintopf.jpg">
			<p class="timecreated">Takes 1 hour</p>
			<p class="servingnum">Makes 12 servings</p>
			<p class="recipetype">MAIN DISH</p>

			<div class="ingredients">
				<h3>Ingredients</h3>
				<ul>
						<li>1 lb Polish sausage, partly skinned</li>
						<li>1 lb carrot, scraped and sliced</li>
						<li>10 potatoes, peeled and diced</li>
						<li>1 (16 ounce) bag frozen French-cut green beans</li>
						<li>2 onions, peel and slice</li>
						<li>10 cups water (you can use all or part chicken broth as well)</li>
						<li>1⁄4 teaspoon fines herbes, dried</li>
						<li>salt</li>
						<li>pepper</li>
						<li>maggi seasoning</li>
				</ul>
			</div>
			<div class="instruction">
				<h3>Instruction</h3>
				<ul>
					<li>1. Put the first six ingredients into a pot and bring to a boil. Reduce heat and simmer for about 1 hour.</li>
					<li>2. Add the herbs.</li>
					<li>3. Adjust the seasoning with salt, pepper and Maggi seasoning.</li>
					<li>4. Creativity is encouraged.</li>
				</ul>
			</div>
					

			<p class="recipesource">SOURCE : www.geniuskitchen.com</p>

			<div class="addtocart">
						<a href="" class="btn-addtocart">Add to Cart</a>
						<p>want to try this recipe?</br> order ingredients now!</p>
					</div>
			

		</div>
	</div>

</body>
</html>