<!DOCTYPE html>
<html>
<head>
	<title>Western - Paella</title>
	<link rel="stylesheet" type="text/css" href="css/West-East-Dishes.css">
</head>
<body>
	<div>
		<div class="backtowd">
			<a href="" class="btn-backtowd">Recipe Book</a>
			<a href="" class="btn-backtowd1">Back</a>
		</div>
		
		<div class="recipe-container">
			<h1>PAELLA</h1>
			<p>Western Dish (Spain)</p>
			<img src="img/paella.jpg">
			<p class="timecreated">Takes 1 hour</p>
			<p class="servingnum">Makes 8 servings</p>
			<p class="recipetype">MAIN DISH</p>

			<div class="ingredients">
				<h3>Ingredients</h3>
				<ul>
					<li>2 tablespoons olive oil</li>
					<li>1 tablespoon paprika</li> 
					<li>2 teaspoons dried oregano salt and black pepper to taste</li> 
					<li>2 pounds skinless, boneless chicken breasts, cut into 2 inch pieces</li> 
					<li>2 tablespoons olive oil, divided</li> 
					<li>3 cloves garlic, crushed</li> 
					<li>1 teaspoon crushed red pepper flakes</li> 
					<li>2 cups uncooked short-grain white rice</li> 
					<li>1 pinch saffron threads</li> 
					<li>1 bay leaf 1/2 bunch Italian flat leaf parsley, chopped</li> 
					<li>1 quart chicken stock</li> 
					<li>2 lemons, zested</li> 
					<li>2 tablespoons olive oil</li> 
					<li>1 Spanish onion, chopped</li> 
					<li>1 red bell pepper, coarsely chopped</li> 
					<li>1 pound chorizo sausage, casings removed and crumbled</li> 
					<li>1 pound shrimp, peeled and deveined</li>
				</ul>
			</div>
			<div class="instruction">
				<h3>Instruction</h3>
				<ul>
					<li>1. In a medium bowl, mix together 2 tablespoons olive oil, paprika, oregano, and salt and pepper. Stir in chicken pieces to coat. Cover, and refrigerate.</li>
					<li>2. Heat 2 tablespoons olive oil in a large skillet or paella pan over medium heat. Stir in garlic, red pepper flakes, and rice. Cook, stirring, to coat rice with oil, about 3 minutes. Stir in saffron threads, bay leaf, parsley, chicken stock, and lemon zest. Bring to a boil, cover, and reduce heat to medium low. Simmer 20 minutes.</li>
					<li>3. Meanwhile, heat 2 tablespoons olive oil in a separate skillet over medium heat. Stir in marinated chicken and onion; cook 5 minutes. Stir in bell pepper and sausage; cook 5 minutes. Stir in shrimp; cook, turning the shrimp, until both sides are pink.</li>
					<li>4. Spread rice mixture onto a serving tray. Top with meat and seafood mixture.</li>
				</ul>
			</div>
					

			<p class="recipesource">SOURCE : www.allrecipes.com</p>

			<div class="addtocart">
						<a href="" class="btn-addtocart">Add to Cart</a>
						<p>want to try this recipe?</br> order ingredients now!</p>
					</div>
			

		</div>
	</div>

</body>
</html>