<!DOCTYPE html>
<html>
<head>
	<title>Western - Spaetzle</title>
	<link rel="stylesheet" type="text/css" href="css/West-East-Dishes.css">
</head>
<body>
	<div>
		<div class="backtowd">
			<a href="" class="btn-backtowd">Recipe Book</a>
			<a href="" class="btn-backtowd1">Back</a>
		</div>
		
		<div class="recipe-container">
			<h1>SPAETZLE</h1>
			<p>Western Dish (Germany)</p>
			<img src="img/spaetzle.jpg">
			<p class="timecreated">Takes 30 minutes</p>
			<p class="servingnum">Makes 6 servings</p>
			<p class="recipetype">MAIN DISH</p>

			<div class="ingredients">
				<h3>Ingredients</h3>
				<ul>
					<li>1 cup all-purpose flour</li> 
					<li>1/4 cup milk</li> 
					<li>2 eggs</li> 
					<li>1/2 teaspoon ground nutmeg</li> 
					<li>1 pinch freshly ground white pepper</li> 
					<li>1/2 teaspoon salt</li> 
					<li>1 gallon hot water</li> 
					<li>2 tablespoons butter</li> 
					<li>2 tablespoons chopped fresh parsley</li>
				</ul>
			</div>
			<div class="instruction">
				<h3>Instruction</h3>
				<ul>
					<li>1. Mix together flour, salt, white pepper, and nutmeg. Beat eggs well, and add alternately with the milk to the dry ingredients. Mix until smooth.</li>
					<li>2. Press dough through spaetzle maker, or a large holed sieve or metal grater.</li>
					<li>3. Drop a few at a time into simmering liquid. Cook 5 to 8 minutes. Drain well.</li>
					<li>4. Saute cooked spaetzle in butter or margarine. Sprinkle chopped fresh parsley on top, and serve.</li>
				</ul>
			</div>
					

			<p class="recipesource">SOURCE : www.allrecipes.com</p>

			<div class="addtocart">
						<a href="" class="btn-addtocart">Add to Cart</a>
						<p>want to try this recipe?</br> order ingredients now!</p>
					</div>
			

		</div>
	</div>

</body>
</html>