<!DOCTYPE html>
<html>
<head>
	<title>Western - Tortellini</title>
	<link rel="stylesheet" type="text/css" href="css/West-East-Dishes.css">
</head>
<body>
	<div>
		<div class="backtowd">
			<a href="" class="btn-backtowd">Recipe Book</a>
			<a href="" class="btn-backtowd1">Back</a>
		</div>
		
		<div class="recipe-container">
			<h1>TORTELLINI</h1>
			<p>Western Dish (Italy)</p>
			<img src="img/tortellini.jpg">
			<p class="timecreated">Takes 30 minutes</p>
			<p class="servingnum">Makes 4 servings</p>
			<p class="recipetype">MAIN DISH</p>

			<div class="ingredients">
				<h3>Ingredients</h3>
				<ul>
					<li>32 ounces chicken broth divided</li>
					<li>2 tablespoons cornstarch</li>
					<li>1 (16 ounce) package frozen cheese tortellini</li>
					<li>4 tablespoons butter</li>
					<li>2 cloves garlic minced</li>
					<li>2 teaspoons dried basil</li>
					<li>1/4 cup Parmesan cheese for garnish</li>
					<li>fresh parsley minced, for garnish, optional</li>
				</ul>
			</div>
			<div class="instruction">
				<h3>Instruction</h3>
				<ul>
					<li>1. In a large pot, bring 2 ½ cups broth to a boil. Add cheese tortellini. Return to a boil and cook about 5 minutes. The tortellini will float to the top when cooked and the internal temperature should be 165ºF for at least 15 seconds. Drain completely.</li>
					<li>2. Meanwhile, whisk together remaining 1 ½ cups broth with corn starch. In a large non-stick skillet, melt butter over medium-high heat until foaming. Stir in garlic and basil and cook about 2 minutes.</li>
					<li>3. Add broth-cornstarch mixture and bring to a boil; simmer until the mixture thickens. Add the cooked tortellini to the skillet and toss to coat.</li>
					<li>4. Pour into a serving dish and garnish with Parmesan cheese and parsley, if desired.</li>
				</ul>
			</div>
					

			<p class="recipesource">SOURCE : www.culinaryhill.com</p>

			<div class="addtocart">
						<a href="" class="btn-addtocart">Add to Cart</a>
						<p>want to try this recipe?</br> order ingredients now!</p>
					</div>
			

		</div>
	</div>

</body>
</html>