<!DOCTYPE html>
<html>
<head>
	<title>Western - TortillaEspanola</title>
	<link rel="stylesheet" type="text/css" href="css/West-East-Dishes.css">
</head>
<body>
	<div>
		<div class="backtowd">
			<a href="" class="btn-backtowd">Recipe Book</a>
			<a href="" class="btn-backtowd1">Back</a>
		</div>
		
		<div class="recipe-container">
			<h1>TORTILLA ESPANOLA</h1>
			<p>Western Dish (Spain)</p>
			<img src="img/tortilla.jpg">
			<p class="timecreated">Takes 45 minutes</p>
			<p class="servingnum">Makes 8 servings</p>
			<p class="recipetype">MAIN DISH</p>

			<div class="ingredients">
				<h3>Ingredients</h3>
				<ul>
					<li>Extra-virgin olive oil</li>
					<li>5 Idaho potatoes, peeled, thinly sliced on a mandolin, and cut in half moons</li>
					<li>1 yellow onion, finely diced</li>
					<li>7 eggs (use 9 eggs if the potatoes are large)</li>
					<li>Kosher salt</li>
				</ul>
			</div>
			<div class="instruction">
				<h3>Instruction</h3>
				<ul>
					<li>1. Heat some oil, enough to cover the potatoes, in a large saute pan over medium-low heat. Add the potatoes and cook, covered, until the potatoes are soft but not crispy, about 10 minutes.</li>
					<li>2. While the potatoes are cooking, heat 1/4 cup olive oil in a second saute pan over medium heat. Add the onions and cook until soft and translucent, without any color, 5 to 7 minutes.</li>
					<li>3. Once the potatoes and onions are soft, strain into a large bowl and drain off as much oil as possible. Set the oil aside for use in another dish.</li>
					<li>4. In another large bowl, crack the eggs and whisk well. Stir in the potato and onion mixture and season with salt.</li>
					<li>5. Heat 2 tablespoons olive oil in a nonstick fry pan over medium heat. When the oil is hot, add the potato and egg mixture, reduce the heat to medium-low, and cook until the eggs are set and the bottom is golden (use a spatula to peak underneath), 7 to 10 minutes.</li>
					<li>6. Place a plate over the top of the fry pan large enough to cover the surface and carefully flip over the tortilla. Return the pan to the heat, add a little more oil if necessary, slide the tortilla back into the pan with the golden side facing up, and cook until the opposite side becomes golden, about 5 minutes. Flip back onto the plate, slice, and serve.</li>
				</ul>
			</div>
					

			<p class="recipesource">SOURCE : www.foodnetwork.com</p>

			<div class="addtocart">
						<a href="" class="btn-addtocart">Add to Cart</a>
						<p>want to try this recipe?</br> order ingredients now!</p>
					</div>
			

		</div>
	</div>

</body>
</html>